.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/components/ScrollToTopButton.css */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.scroll-to-top-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
}

.scroll-to-top-button:hover {
  background-color: #0056b3;
}
.scrollable-carousel {
  max-height: 500px; /* Adjust height as needed */
  overflow-y: auto;
}
.hero-header {
  position: relative;
  overflow: hidden;
  color: #fff; /* Ensure text is white for readability */
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place it behind the content */
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100;
  object-fit: cover; /* Cover the entire div */
  transform: translate(-50%, -50%);
}

.hero-header .container {
  position: relative;
  z-index: 1; /* Ensure content is above the video */
}

.hero-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  background: rgba(0, 0, 0, 0.5); /* Optional: Add a dark overlay for better text readability */
  z-index: 0;
}
